<table class="table">
        <thead>
            <th>Barcode</th>
            <th>Name</th>
            <th>Name in hebrew</th>
            <th>Manufactor</th>
            <th>Form</th>
            <th>InHealthBasket</th>
            <th>NeedPrescription</th>
        </thead>
        <tbody>
            <tr medicine-row-view medicine="medicine"
            ng-repeat="medicine in medicines |
             filter: search-input |
              orderBy: orderInput">
        </tr>
        </tbody>
</table>
