body{
    width: 100%;
    margin: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.scrollable{
    overflow: auto;
    height: 500px;
    width: 100%;
}

ul{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
}

.card{
    width: 45%;
    height: 19em;
    margin: 5px;
    display: block;

    border-radius: 5px;
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s;

    list-style: none;
}

.card:hover {
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.6);
}

.jumbotron{
    width: 100%;
    height: 200px;
    background: #3498db;

    color: white;
    text-align: center;
}
.jumbotron h1{
    font-size: 40px;
    padding-top: 1em;
}
.jumbotron p{
    font-size: 17px;
    padding-top: 1em;
}
