<div>
    <header></header>
    <div class="container">
        <input type="text" class="form-control" placeholder="search text" ng-model="searchInput"/>
        <br /><br />
        <select class="form-control" ng-model="orderInput">
            <option>PackageBarcode</option>
            <option>Name</option>
            <option>InHealthBasket</option>
            <option>PrescriptionMedicine</option>
        </select><br /><br />
    </div>
    <medicines-table medicins="medicines"></medicines-table>
</div>
