<table class="table">
        <thead>
            <th>Barcode</th>
            <th>Name</th>
            <th>Manufactor</th>
            <th>Form</th>
            <th>InHealthBasket</th>
            <th>NeedPrescription</th>
        </thead>
        <tbody>
            <tr ng-repeat="medicine in medicines">
                    <td>{{medicine.PackageBarcode}}</td>
                    <td>{{medicine.MedicineName}}</td>
                    <td>{{medicine.Menufactor}}</td>
                    <td>{{medicine.DosageForm}}</td>
                    <td>{{medicine.InHealthBasket}}</td>
                    <td>{{medicine.PrescriptionMedicine}}</td>
            </tr>
        </tbody>
</table>
